# SnowSQL variables (for manual testing)
export SNOWFLAKE_ORGANIZATION_NAME=""
export SNOWFLAKE_ACCOUNT_NAME=""
export SNOWFLAKE_ACCOUNT_LOCATOR="$SNOWFLAKE_ORGANIZATION_NAME-$SNOWFLAKE_ACCOUNT_NAME"
export SNOWFLAKE_USER=""
export SNOWFLAKE_PRIVATE_KEY_LOCAL_PATH=""
export SNOWFLAKE_ROLE=""

# Terraform variables (automatically picked up by TF with TF_VAR_ prefix)
export TF_VAR_snowflake_organization_name="$SNOWFLAKE_ORGANIZATION_NAME"
export TF_VAR_snowflake_account="$SNOWFLAKE_ACCOUNT_NAME"
export TF_VAR_snowflake_user="$SNOWFLAKE_USER"
export TF_VAR_snowflake_private_key_path="$SNOWFLAKE_PRIVATE_KEY_LOCAL_PATH"
export TF_VAR_snowflake_role="$SNOWFLAKE_ROLE"
