export SNOWFLAKE_ACCOUNT="your-snowflake-account"
export SNOWFLAKE_USER="your-snowflake-user"
export SNOWFLAKE_PRIVATE_KEY_PATH="your-snowflake-private_key"
export SNOWFLAKE_ROLE="your-terraform-role"
